.talk {
  clear: both;
}

  .talk-speakerAvatar {
    width: 80px; max-height: 80px; float: left; padding: 10px;
  }

  .talk-title {
    font-size: 2em; margin-bottom: 10px;
  }

  .talk-description { }