/********************************************
 * RESET
 ********************************************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********************************************
 * MIXIN
 ********************************************/

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/********************************************
 * GLOBAL
 ********************************************/

html, body, .app {
  display: block;
  height: 100%;
  font-family: 'Roboto','Helvetica','Arial',sans-serif!important;
}

body {
  background-color: #FFF;
  position: relative;
}
body, a {
  color: #222;
  text-decoration: none;
}

header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  margin: 0 0 20px 0;

  & a {
    text-transform: uppercase;
    background: rgba(158,158,158,.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    margin: 0 20px;
    padding: 10px;
    border-radius: 2px;
    color: #000;
    outline: none;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow;

    &:hover {
      background-color: rgba(158,158,158,.2);
    }

    &:active {
      box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
      background-color: rgba(158,158,158,.4);
    }

    &:focus:not(:active) {
      box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
      background-color: rgba(158,158,158,.4);
    }

    & i {
      padding-right: 5px;
    }
  }
}

h1 {
  font-size: 6em;
  display: block;
  margin: 0 0 60px 0;
}