.speaker {
  padding: 30px;
}

.speaker-photourl {
  width: 20%;
  max-width: 100px;
  float: left;
  padding: 0 10px;
}

.speaker-fullname {
  font-size: 2em;
  margin-bottom: 10px;
}

.speaker-description {

}

.speaker-infos {
  clear: both;
  margin: 30px;
  list-style: disc;
}